<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
</head>
<body>

	<h1 class="color-rojo" th:text="${titulo}"></h1>
	<h2 class="color-azul">Decorando con estilos css recursos
		estáticos</h2>
	<img th:src="@{/images/spring.png}"></img>


	<ul>
		<li><a th:href="@{/params/string(texto='Hola Andrés')}">/params/string?texto=Hola
				Andrés</a></li>
		<li><a th:href="@{/params/string(texto='Que tal John!')}">/params/string?texto=Que
				tal John</a></li>
		<li><a
			th:href="@{/params/mix-params(saludo='Como estas andres', numero=7)}">/params/mix-params?saludo=Como
				estas andre&numero=7</a></li>
		<li><a
			th:href="@{/params/mix-params-request(saludo='¡Hey!', numero=3)}">/params/mix-params-request?saludo=Hey&numero=3
				tal John</a></li>
		<li><a th:href="@{/variables/string/hola}">/variables/string/hola</a></li>
	</ul>
</body>
</html>